*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img 
{
    display: block;
}

:root 
{
    --color-blank: white;
    --color-dark-blue: rgba(29, 53, 87, 1);
    --color-light-blue: rgba(69, 123, 157, 1);
    --color-light-green: rgba(241, 250, 238, 1);
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
}


.heading-2 
{
    font-size: 1.5rem;
    color: var(--color-dark-blue);
}