*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img 
{
    display: block;
}

:root 
{
    --color-blank: white;
    --color-dark-blue: rgba(29, 53, 87, 1);
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
}