*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img 
{
    display: block;
}

:root 
{
    --color-blank: white;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
}