

.activity{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark-blue);
}
.activity__img 
{
    width: 50%;
    border-radius: 50%;
    margin-bottom: 1.375rem;
}

.activity__title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

