.hero
{
    background-image: url("/images/torshov.jpg");
    background-size: cover;
    padding: 7.43rem 0;
    color: var(--color-blank);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title 
{
    background-color:var(--color-dark-blue);
    font-size: 2rem;
    padding: 0.31rem 0.75rem;
    margin-bottom: 0.68rem;
}

.hero__body {
    background-color: var(--color-light-blue);
    max-width: 25.75rem;
    padding: 0.43rem 1.75rem;
    font-weight: 700;
    font-size: 1.17rem;
}